@import url(http://fonts.googleapis.com/css?family=Capriola);
html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}
body {
    background-image: url(../images/15494794259_f51656cb69_o.jpg);
    background-attachment: fixed;
    display: table-cell;
    margin: 2em auto;
}

h1 {
    color: #dbdbdb;
    font-size: 2em;
    font-weight: 400;
}
p {
    margin: 0 auto;
    width: 1150px;
    color: #989898;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 110px;
    text-align: right;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 375px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

a:link {
    color: #0f71ba;
}

a:visited {
    color: #004a75;
}

a:hover {
    color: #0f71ba;
}

a:active {
    color: #00b5ff;
}

.text_box {
    display: table;
    margin: 0 auto;
    position: relative;
    top: 250px;
    width: 1250px;
    padding: 10px;
    border: 10px outset #0f71ba;
    background: rgba(44, 44, 44, 0.8);
    font-size: 24px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0 auto;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    font-family: Capriola, Helvetica, sans-serif;
}
#cssmenu {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: auto;
    height: 59px;
    padding-bottom: 4px;
}
#cssmenu.align-right {
    float: right;
}
#cssmenu.align-right ul li {
    float: right;
    margin-right: 0;
    margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
    border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
    height: 10px;
    background: #0f71ba;
}
#cssmenu #bg-two {
    height: 59px;
    z-index: 2;
    background: url('../images/bg.png');
}
#cssmenu #bg-three {
    bottom: 4px;
    height: 60px;
    z-index: 3;
    background: #222222;
    background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
    background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
    background: -o-linear-gradient(top, #555555 0%, #222222 100%);
    background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
    background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
    bottom: 4px;
    height: 55px;
    z-index: 4;
    background: url('../images/bg.png');
}
#cssmenu ul {
    height: 59px;
}
#cssmenu ul li {
    float: left;
    margin-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 5;
}
#cssmenu ul li a {
    padding: 24px 30px 20px 30px;
    margin-bottom: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #eeeeee;
    font-size: 15px;
    text-decoration: none;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
    border-bottom-left-radius: 3px;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
    background: #0f71ba;
    background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
    background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
    background: url('../images/bg.png');
    color: #ffffff;
}
