@import url(http://fonts.googleapis.com/css?family=Capriola);
html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}
body {
    background-image: url(../images/15494794259_f51656cb69_o.jpg);
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
}

h1 {
    color: #dbdbdb;
    font-size: 4em;
    font-weight: 400;
}
p {
    margin: 0 auto;
}

footer {
    padding: 10px;
    margin: auto;
    color: #e6e6e6;
    background-color: rgba(76, 74, 74, 0.9);
    position: fixed;
    bottom: 0;
    right: 0;
    border: solid 2px;
}

a:link {
    color: #0f88d6;
}

a:visited {
    color: #004a75;
}

a:hover {
    color: #0f71ba;
}

a:active {
    color: #00b5ff;
}

.my_face {
    background-image: url(../images/11017705_354319791429638_1169459263903684532_n.jpg);
    background-size: 500px;
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.my_face:hover {
    -webkit-box-shadow: 0 0 20px rgba(10, 10, 10, 0.6), inset 0 0 20px rgba(20, 20, 20, 1);
    -moz-box-shadow: 0 0 20px rgba(10, 10, 10, 0.6), inset 0 0 20px rgba(20, 20, 20, 1);
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.6), inset 0 0 20px rgba(20, 20, 20, 1);

    -webkit-border-radius: 60em;
    -moz-border-radius: 60em;
    border-radius: 60em;

    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);

}

.aboutmetxt {
    visibility: hidden;
    z-index: 10;
    position: relative;
    bottom: 70px;
    font-size: xx-large;
    color: black;
    transition: visibility 0.5s ease;
}

.my_face:hover +p{
    visibility: visible;
}

.contact {
    background-image: url("../images/32_pixel_social_media_icons_full.png");
    background-size: 250px;
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    left: 100px;
    bottom: 360px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.contact:hover {
    -webkit-box-shadow: 0 0 20px rgba(10, 10, 10, 0.6), inset 0 0 20px rgba(20, 20, 20, 1);
    -moz-box-shadow: 0 0 20px rgba(10, 10, 10, 0.6), inset 0 0 20px rgba(20, 20, 20, 1);
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.6), inset 0 0 20px rgba(20, 20, 20, 1);

    -webkit-border-radius: 60em;
    -moz-border-radius: 60em;
    border-radius: 60em;

    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);

}

.contacttxt {
    visibility: hidden;
    z-index: 10;
    position: fixed;
    bottom: 370px;
    left: 165px;
    font-size: xx-large;
    color: black;
    transition: visibility 0.5s ease;
}

.contact:hover +p{
    visibility: visible;
}

.projects {
    background-image: url("../images/Project-Icon.png");
    background-size: 250px;
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    right: 100px;
    bottom: 360px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.projects:hover {
    -webkit-box-shadow: 0 0 20px rgba(10, 10, 10, 0.6), inset 0 0 20px rgba(20, 20, 20, 1);
    -moz-box-shadow: 0 0 20px rgba(10, 10, 10, 0.6), inset 0 0 20px rgba(20, 20, 20, 1);
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.6), inset 0 0 20px rgba(20, 20, 20, 1);

    -webkit-border-radius: 60em;
    -moz-border-radius: 60em;
    border-radius: 60em;

    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);

}

.projectstxt {
    visibility: hidden;
    z-index: 10;
    position: fixed;
    bottom: 370px;
    right: 165px;
    font-size: xx-large;
    color: black;
    transition: visibility 0.5s ease;
}

.projects:hover +p {
    visibility: visible;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0 auto;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    font-family: Capriola, Helvetica, sans-serif;
}
#cssmenu {
    position: fixed;
    top: 0;
    z-index: 10;
    width: auto;
    height: 59px;
    padding-bottom: 4px;
}
#cssmenu.align-right ul li {
    float: right;
    margin-right: 0;
    margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
    border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
    height: 10px;
    background: #0f71ba;
}
#cssmenu #bg-two {
    height: 59px;
    z-index: 2;
    background: url('../images/bg.png');
}
#cssmenu #bg-three {
    bottom: 4px;
    height: 60px;
    z-index: 3;
    background: #222222;
    background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
    background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
    background: -o-linear-gradient(top, #555555 0%, #222222 100%);
    background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
    background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
    bottom: 4px;
    height: 55px;
    z-index: 4;
    background: url('../images/bg.png');
}
#cssmenu ul {
    height: 59px;
}
#cssmenu ul li {
    float: left;
    margin-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 5;
}
#cssmenu ul li a {
    padding: 24px 30px 20px 30px;
    margin-bottom: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #eeeeee;
    font-size: 15px;
    text-decoration: none;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
    border-bottom-left-radius: 3px;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
    background: #0f71ba;
    background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
    background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
    background: url('../images/bg.png');
    color: #ffffff;
}